body {
  font-family: 'Open Sans', 'Roboto', sans-serif;
}

ul {
  list-style: none;
  padding-left: 0;
}

ul li {
  display: inline-block;
}

ul li a {
  border: 1px solid #cccccc;
  padding: 8px 16px;
}